<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= item.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= item.password %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= item.notes %>
  </p>

</div>
